
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/email.css"/>
    <style>
        .nesto {
            {#background-image: url({{ cid|raw }});#}
            width: 200px;
            height: 50px;
        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table class="head-wrap" bgcolor="#999999">


    <tr>
        <td></td>
        <td class="header container">
            <div class="content">
                <table bgcolor="#999999">
                    <tr>
                        <td> <img class="nesto" src="{{ cid }}" alt="Image" /></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h3>Hi, {{ demand.targetEmployee.getName }}</h3>
                            <p>{{ demand.employee.name }} {{ demand.employee.surname }} wants to swap with you.</p>
                            <p>Comment: {{ demand.comment }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>


</body>
</html>